{% extends "template.html" %}

{% block title %}
Feed
{% endblock %}

{% block main %}


      {% for row in rows %}
        <div class="card">
        <div class="card-header">
            <img src="{{ row.image }}" width = "60" height = "60" align = "left">
            <div class="bigtext">{{row.song}}</div>
            <h4 align = "right"> {{row.post_karma}}</h4>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ row.content }}</h5>
            <a href="#" class="btn btn-primary">Upvote</a>
            <a href="#" class="btn btn-danger">Downvote</a>
        </div>
        </div>
      {% endfor %}
     


{% endblock %}